name: Create Release ZIP

on:
  workflow_dispatch:

jobs:
  build:
    runs-on: windows-latest

    steps:
    - name: Configure Git
      run: |
        git config --global user.email "fgilde@gmail.com"
        git config --global user.name "fgilde"

    - name: Checkout repository
      uses: actions/checkout@v2
      with:
        fetch-depth: 0  # Stellt sicher, dass alle Branches und Tags vorhanden sind

    - name: Install .NET SDK
      uses: actions/setup-dotnet@v2
      with:
        dotnet-version: '8.0.x'

    - name: Setup .NET
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: '8.0.x'

    - name: Compile Aimmy
      run: dotnet build Aimmy2/Aimmy2.csproj -c Release

    - name: Upload Build Artifact
      uses: actions/upload-artifact@v4
      with:
        name: Aimmy-Latest-Build
        path: Aimmy2/bin/Release/
